{% extends 'base.html' %}
{% load core_tags %}

{% block extra_head %}
<!-- for sheetjs -->
<script type="text/javascript" src="https://cdn.sheetjs.com/xlsx-latest/package/dist/shim.min.js"></script>
<script type="text/javascript" src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<!-- for datatable -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
{% endblock %}

{% block extra_css %}
<style>
    .table-container {
        overflow-x: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
    th {
        border: 1px solid #dee2e6;
    }
    th, td {
        max-width: fit-content(50%);
        white-space: wrap;
        text-overflow: ellipsis;
        text-align: left;
    }
</style>
{% endblock %}

{% block content %}
    {% for action, url in actions.items %}
        <a href="{% url url %}" class="btn btn-primary">{{ action }}</a>
    {% endfor %}
    <button class="btn" id="export-btn" onclick="exportTable()">Export</button>
    {% if object_dict %}
    <table class="table table-hover">
        <tbody>
            {% for key, value in object_dict.items %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class="table-container">
        <table class="table table-striped" id="data-table">
            <thead>
                <tr>
                {% if object_actions or obj.get_absolute_url %}
                    <th>Actions</th>
                {% endif %}
                {% for field in table_fields %}
                    <th>{{ field }}</th>
                {% endfor %}
                {% if pretty_json_field %}
                    <th style="max-width: 100%;">{{ pretty_json_field }}</th>
                {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                {% if object_actions or obj.get_absolute_url %}
                    <td>
                    {% for action, url in object_actions.items %}
                        <a href="{% url url obj.pk %}" class="btn btn-primary">{{ action }}</a>
                    {% endfor %}
                    {% if obj.get_absolute_url %}
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-secondary">ℹ️</a>
                    {% endif %}
                    </td>
                {% endif %}
                {% for field in table_fields %}
                    <td>
                    {% with field_value=obj|get_attr_from_object:field %}
                        {% if field_value.get_absolute_url %}
                            <a href="{{ field_value.get_absolute_url }}">{{ field_value }}</a>
                        {% else %}
                            {{ field_value }}
                        {% endif %}
                    {% endwith %}
                    </td>
                {% endfor %}
                {% if pretty_json_field %}
                    <td style="max-width: fit-content;">
                        {{ obj|get_attr_from_object:pretty_json_field|pretty_json }}
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_js %}
<!-- Code for filtering with data table -->
<script>
    $(document).ready(function() {
        $('#data-table').DataTable({
            initComplete: function() {
                this.api()
                    .columns()
                    .every(function() {
                        var column = this;
                        var header = $(column.header()); // Get the header element
                        // create this hidden header so that when we export the excel knows the what it is
                        var title = $('<p hidden>' + header.text().trim() + '</p>')
                            .appendTo(header.empty());
                        // Create input element
                        var input = $('<input placeholder="' + header.text().trim() + '" style="field-sizing: content;"/>')
                            .appendTo(header.empty()) // Empty existing header text and append input
                            .on('keyup change clear', function() {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                    });
            }
        });
    });
</script>

<!-- code for sheetjs -->
<script>
    function exportTable() {
        // Get the main table data
        const table = document.getElementById('data-table');
        const wb = XLSX.utils.table_to_book(table, {sheet: 'Main Data', raw: true});
        // Save the workbook
        XLSX.writeFile(wb, 'export.xlsx');
    }
</script>
{% endblock %}